@import 'tailwindcss';

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("./assets/fonts/NeueHaasDisplayRoman.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}



body {
  font-family: "Neue Haas Grotesk Display Pro",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  line-height: 1.5;
  background-color: #F4F4F4;

}


